html, body {
    height: 100%;
    background: fixed url("../../images/bg.jpg") no-repeat;
    background-size: 100%;
}

#root {
    /*height: 100%;*/
    background-color:  rgba(46, 49, 65, 0.8);
}

.main {
    max-width: 768px;
}

