@keyframes alert {
    from {
        opacity: 0;
        top: -30px;
    }
    50% {
        opacity: 1;
        top: 0;
    }
    to {
        opacity: 1;
        top: 30px;
    }
}

#alert {
    position: fixed;
    z-index: 100;
    top: 30px;
    right: 30px;
    opacity: 0;
    -webkit-animation: alert .7s linear forwards;
    -moz-animation: alert .7s linear forwards;
    -o-animation: alert .7s linear forwards;
    animation: alert .7s linear forwards;
}

.alert-heading {
    text-transform: capitalize;
}