.details {
    font-size: 1.5em;
}

.further {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-buttons {
    margin-bottom: 30px;
}

.footer-buttons input {
    width: 40%;
}

.footer-buttons button {
    margin-left: 20px;
}

i:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

i:before {
    border-radius: 100%;
    display: inline-block;
    font-size: 1em;
    height: 2.5em;
    line-height: 2.35em;
    text-align: center;
    width: 3.5em;
}